# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/* @ehesp @salakar @kroikie @rrousselGit @russellwheatley
website/* @ehesp
docs/* @ehesp @salakar @kroikie
.github/ @salakar @kroikie
packages/firebase_ui* @lesnitsky
