# Below is a list of Flutter team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/* @ehesp @salakar @russellwheatley @Lyokone @TarekkMA
website/* @ehesp
docs/* @ehesp @salakar @russellwheatley @Lyokone
.github/ @salakar @russellwheatley @Lyokone
